<section id="content" class="container-fluid">

    <div class="row">

        <!-- Desktop -->
        <div class="col-sm-12 prelanding-wrapper clearfix">

            <div class="prelanding-container">


                <div class="logo-alpha hidden-md hidden-lg"><img src="img/logo-alpha.png" alt="Alpha logo" class="img-responsive center-block"></div>


                <!-- Photographer -->
                <div id="photographer" class="cate-wrapper pull-left">
                    <div class="title">
                        <img src="img/title-photographer.png" alt="Professional Photographers" class="img-responsive center-block">
                    </div>

                    <div class="divider"><img src="img/divider-orange.png" alt="Divider" class="img-responsive center-block"></div>
                    
                    <a href="./photographers/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:main:professional:photographers', 'ilc', 'ilc:main:professional:photographers', 'microsite|ilc|main|professional|photographers');">
                        <div class="cta-wrapper clearfix">
                            <img src="img/icon-photographer.png" alt="Professional Photographers" class="img-responsive">
                            <span>explore photographers</span>
                        </div>
                    </a>

                    <div class="divider"><img src="img/divider-orange.png" alt="Divider" class="img-responsive center-block"></div>

                </div>
                <!-- Photographer -->


                <div class="logo-alpha pull-left hidden-xs hidden-sm"><img src="img/logo-alpha.png" alt="Alpha logo" class="img-responsive"></div>


                <!-- Videographer -->
                <div id="videographer" class="cate-wrapper pull-left">
                    <img src="img/title-videographer.png" alt="Professional Videographers" class="img-responsive center-block title">

                    <div class="divider"><img src="img/divider-orange.png" alt="Divider" class="img-responsive center-block"></div>
                    
                    <a href="./videographers/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:main:professional:videographers', 'ilc', 'ilc:main:professional:videographers', 'microsite|ilc|main|professional|videographers');">
                        <div class="cta-wrapper clearfix">
                            <img src="img/icon-videographer.png" alt="Professional Videographers" class="img-responsive">
                            <span>explore Videographers</span>
                        </div>
                    </a>

                    <div class="divider"><img src="img/divider-orange.png" alt="Divider" class="img-responsive center-block"></div>

                </div>
                <!-- Videographer -->

            </div>

        </div>
        <!-- Desktop -->




    </div>

</section>
