<footer class="container-fluid navbar-fixed-bottom">

    <div class="row">

        <div class="col-sm-12">

            <div class="divider visible-xs-block visible-sm-block">
                <img src="img/profile/divider-white.png" class="center-block" alt="" width="301" height="2">
            </div>

            @@if (typeof country !== 'undefined' && country === 'sg') {
            <div class="pull-left">

                <div class="logo">
                    <img class="i-left" src="img/footer-slogan.png" alt="Alpha 7 - Through My Eyes" width="250" height="30">
                </div>

            </div>

            } @@if (typeof country === 'undefined' || country !== 'sg') {
            <div class="pull-left">

                <div class="logo">
                    <img class="i-left" src="img/footer-slogan_2.png" alt="Alpha - Professionals Photographers" width="250" height="40">
                </div>

            </div>

            <div class="pull-right">
                <div>
                    <p>Sony South East Asia's
                        <br/> Photographers program</p>
                </div>
            </div>
            }

            <!-- <div class="pull-right">
                <div>
                    <img src="img/footer-camera.png" alt="Alpha 7 camera" width="151" height="110">
                </div>
            </div> -->

        </div>

    </div>

</footer>
