<header class="container-fluid navbar-fixed-top">

    <div class="row">

        <div class="col-sm-12 navbar navbar-inverse">

            <div class="logo hidden-xs hidden-sm">
                <a href="./"><img src="img/logo-sony.png" height="16" width="94" alt="Sony Logo"></a>
            </div>

            <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            @@if (typeof country !== 'undefined' && country !== 'sg') {
            <nav id="navbar" class="text-center navbar-collapse collapse">

                <a href="@@country/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');" class="home">Home</a>
                <a href="@@country/gallery.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:gallery', 'ilc:@@country', 'ilc:@@country:menu:main:gallery', 'microsite|ilc:@@country|menu|main|gallery');" class="gallery">Gallery</a>
                <a onclick="return false;" class="feature_pro last">Featured Projects<br/><span>Coming soon</span></a>

            </nav>

            } @@if (typeof country !== 'undefined' && country === 'sg') {
            <nav id="navbar" class="text-center navbar-collapse collapse">

                <a href="@@country/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');" class="home">Home</a>
                <a href="@@country/gallery.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:gallery', 'ilc:@@country', 'ilc:@@country:menu:main:gallery', 'microsite|ilc:@@country|menu|main|gallery');" class="gallery">Gallery</a>
                <a onclick="return false;" class="feature_pro">Featured Projects<br/><span>Coming soon</span></a>
                <a href="@@country/series.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:a7Series', 'ilc:@@country', 'ilc:@@country:menu:main:a7Series', 'microsite|ilc:@@country|menu|main|a7Series');" class="series"><img src="img/logo-alpha_7.png" alt="Alpha 7 Logo" width="27" height="13"> Series</a>
                <a href="@@country/stores.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:stores', 'ilc:@@country', 'ilc:@@country:menu:main:stores', 'microsite|ilc:@@country|menu|main|stores');" class="stores last">Where to Buy</a>

            </nav>
            } -->

            <!-- <div class="divider hidden-md hidden-lg">
                <img src="img/profile/divider-white.png" alt="" width="301" height="2">
            </div> -->

            <!-- <div class="language">
                <select name="language" id="language" class="hidden-xs">
                    <option value="en" selected>English</option>
                    <option value="thai">Thai</option>
                    <option value="viet">Vietnamese</option>
                </select>
                <select name="language" id="language-mobile" class="hidden-sm hidden-md hidden-lg">
                    <option value="en" selected>EN</option>
                    <option value="thai">TH</option>
                    <option value="viet">VN</option>
                </select>
            </div> -->

        </div>

    </div>

</header>
