<!-- build:js js/template.js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../js/jquery-migrate-1.2.1.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- endbuild -->
