<!-- START Omniture Tracking -->
<!-- SiteCatalyst code version: H.10 09jul08
        Copyright 1997-2007 Omniture, Inc. More info available at
        http://www.omniture.com -->

<script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
<script language="JavaScript">
/* You may give each page an identifying name, server, and channel on the next lines. */
s.pageName = "@@s.pageName"; //Pagename
s.prop1 = "@@s.prop1"; //Host of the server
s.prop2 = "@@s.prop2"; //country
s.prop3 = "@@s.prop3"; //language
s.prop4 = "@@s.prop4";
s.prop5 = "@@s.prop5";
s.prop41 = "@@s.prop41"; // Microsite Name
s.prop42 = "@@s.prop42"; // Microsite Section
s.hier5 = "@@s.hier5"; //hier5
//Get entire percent page viewed array and save metrics
s.prop55 = s.getPreviousValue(s.pageName, 's_ppn'); //prop55: previous page name
var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
if (ppv && typeof ppv == 'object' && ppv[0] == s.prop55) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
}
/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
var s_code = s.t();
if (s_code) document.write(s_code);
</script>
<script language="JavaScript">
if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '\!-' + '-')
</script>
<!-- End SiteCatalyst code version: H.10 09jul08 -->
<!-- END Omniture Tracking -->

