<div class="container-fluid" id="splash">

    <div class="row">

        <div class="col-sm-12 body-outer">

            <div class="body-wrapper">

                <div class="hidden-md hidden-lg">
                    <div class="logo">
                        <a href="./"><img src="img/logo-sony.png" height="16" width="94" alt="Sony Logo"></a>
                    </div>

                    <div class="body-container">
                        <div class="boxes">
                            <div class="col-sm-4 col-xs-4 bg-1"></div>
                            <div class="col-sm-4 col-xs-4 bg-2"></div>
                            <div class="col-sm-4 col-xs-4 bg-3"></div>
                        </div>
                        <div class="boxes">
                            <div class="col-sm-4 col-xs-4 bg-4"></div>
                            <div class="col-sm-4 col-xs-4 bg-5"></div>
                            <div class="col-sm-4 col-xs-4 bg-6"></div>
                        </div>
                        <div class="boxes">
                            <div class="col-sm-4 col-xs-4 bg-7"></div>
                            <div class="col-sm-4 col-xs-4 bg-8"></div>
                            <div class="col-sm-4 col-xs-4 bg-9"></div>
                        </div>
                        <div class="boxes">
                            <div class="col-sm-4 col-xs-4 bg-10"></div>
                            <div class="col-sm-4 col-xs-4 bg-11"></div>
                            <div class="col-sm-4 col-xs-4 bg-12"></div>
                        </div>
                    </div>

                </div>

                <div class="body text-center">

                    <div class="logo">
                        <img src="img/splash/logo-alpha-large.png" class="img-responsive center-block" height="111" width="163" alt="Alpha logo">
                    </div>

                    <div class="slogan">
                        <img src="img/splash/professionals-mobile.png" class="img-responsive center-block hidden-xs hidden-sm" height="71" width="331" alt="Professionals Photographers">
                        <img src="img/splash/professionals-mobile.png" class="img-responsive center-block hidden-md hidden-lg" height="71" width="331" alt="Professionals Photographers">
                    </div>

                    <div class="hidden-xs hidden-sm">

                        <div>
                            <img src="img/splash/orange_divider.png" class="img-responsive center-block" height="1" width="552" alt="Divider">
                        </div>

                        <p class="copy">MAKE YOUR SELECTION</p>

                        <div>
                            <img src="img/splash/orange_divider.png" class="img-responsive center-block" height="1" width="552" alt="Divider">
                        </div>

                        <div class="row center-block countries">

                            <div class="col-sm-4">
                                <a href="th/thai/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:landing:country-selector:TH', 'ilc', 'ilc:landing:country-selector:TH', 'microsite|ilc|landing|country-selector|TH');" data-country="th">THAILAND</a>
                            </div>

                            <div class="col-sm-4">
                                <a href="sg/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:landing:country-selector:SG', 'ilc', 'ilc:landing:country-selector:SG', 'microsite|ilc|landing|country-selector|SG');" data-country="sg">SINGAPORE</a>
                            </div>

                            <div class="col-sm-4">
                                <a href="my/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:landing:country-selector:MY', 'ilc', 'ilc:landing:country-selector:MY', 'microsite|ilc|landing|country-selector|MY');" data-country="my">MALAYSIA</a>
                            </div>

                            <div class="col-sm-4">
                                <a href="ph/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:landing:country-selector:PH', 'ilc', 'ilc:landing:country-selector:PH', 'microsite|ilc|landing|country-selector|PH');" data-country="ph">PHILIPPINES</a>
                            </div>

                            <div class="col-sm-4">
                                <a href="id/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:landing:country-selector:ID', 'ilc', 'ilc:landing:country-selector:ID', 'microsite|ilc|landing|country-selector|ID');" data-country="id">INDONESIA</a>
                            </div>

                            <div class="col-sm-4">
                                <a href="vn/viet/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:landing:country-selector:VN', 'ilc', 'ilc:landing:country-selector:VN', 'microsite|ilc|landing|country-selector|VN');" data-country="vn">VIETNAM</a>
                            </div>

                            <div class="col-sm-12">
                                <a href="sea/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:landing:country-selector:SEA', 'ilc', 'ilc:landing:country-selector:SEA', 'microsite|ilc|landing|country-selector|SEA');" data-country="sea">SEA REGIONAL</a>
                            </div>

                        </div>

                    </div>



                    <div class="hidden-md hidden-lg country-selector">

                        <div>
                            <img src="img/splash/orange_divider-mobile.png" class="img-responsive center-block" height="3" width="283" alt="Divider">
                        </div>

                        <select id="country-select">
                            <option value="" selected disabled>MAKE YOUR SELECTION</option>

                            <option id="id" value="id/">Indonesia</option>
                            <option id="my" value="my/">Malaysia</option>
                            <option id="ph" value="th/">Philippines</option>
                            <option id="sea" value="sea/">SEA Regional</option>
                            <option id="sg" value="sg/">Singapore</option>
                            <option id="th" value="th/thai/">Thailand</option>
                            <option id="vn" value="vn/viet/">Vietnam</option>
                        </select>

                        <div>
                            <img src="img/splash/orange_divider-mobile.png" class="img-responsive center-block" height="3" width="283" alt="Divider">
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
