@import '../bower_components/bootstrap/less/bootstrap.less';

@import (inline) '../bower_components/slick-carousel/slick/slick.css';
@import (inline) '../bower_components/slick-carousel/slick/slick-theme.css';
@import (inline) '../bower_components/magnific-popup/dist/magnific-popup.css';

@import 'template.less';



html,
body {
	height: 100%;
}



#index {
	header,
	footer {
		// display: none;
	}
	header {
		background-color: transparent;
		// height: 231px;
		// background-image: url(../img/bg-header.png);
		background-image: none;
		@media (max-width: @screen-sm-max) {
			height: 61px;
			// background-image: url(../img/bg-header-2.png);
		}
	}
	footer {
		height: 85px;
		background-image: none;
		@media (max-width: @screen-sm-max) {
			height: 60px;
		}
		.pull-left {
			top: 20px;
			@media (max-width: @screen-sm-max) {
				top: 10px;
			}
		}
		.pull-right {
			top: 30px;
			@media (max-width: @screen-sm-max) {
				top: 16px;
			}
			@media (max-width: @screen-xs-max) {
				top: 26px;
			}
		}
	}
	
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#content {
		// display: none;
		padding: 0;
		background-image: url(../img/bg.png);
		background-position: top center;
		@media (max-width: @screen-sm-max) {
			background-image: url(../img/bg-mobile.jpg);
			background-size: cover;
			// background-position: center;
			padding-top: 61px;
			padding-bottom: 60px;
		}

		.row {
			height: 100%;
			margin: 0;
			> div {
				// height: 100%;
				@media (min-width: @screen-sm-max) {
					padding: 0;
				}
			}
		}

		.prelanding-wrapper{
			display: table;
		    table-layout: fixed;
		    height: 100%;
		    width: 100%;

		    .prelanding-container {
		    	@media (min-width: @screen-sm-max) {
			    	width: 970px;
					transform: translate(-50%, -50%);
					position: absolute;
					top: 50%;
					left: 50%;
				}
				@media (max-width: @screen-sm-max) {
					display: table-cell;
				    width: 100%;
				    vertical-align: middle;
					overflow: auto;
					overflow-y: scroll; /* has to be scroll, not auto */

					-webkit-overflow-scrolling: touch;
				}
				.logo-alpha {
					margin: auto 45px;
					@media (max-width: @screen-sm-max) {
						margin: auto auto 120px;
						width: 30%;
					}
					@media (max-width: @screen-xs-max) {
						width: 30%;
						margin: auto auto 40px;
					}
					@media (min-width: 667px) and (max-width: 736px) {
						width: 10%;
					}
				}
				.cate-wrapper{
					width: 37%;
					@media (max-width: @screen-sm-max) {
						width: 100%;
						margin: auto;
						float: none !important;
					}
					@media (max-width: 320px) {
						width: 90%;
					}
					&#photographer{
						@media (max-width: @screen-sm-max) {
							margin-bottom: 80px;
						}
						@media (max-width: @screen-xs-max) {
							margin-bottom: 30px;
						}
					}
					.title {
						margin-bottom: 22px;
						@media (max-width: @screen-sm-max) {
						    // width: 50%;
							margin: auto auto 22px;
						}
						@media (min-width: 667px) and (max-width: 736px) {
							width: 40%;
						}
						@media (min-width: 480px) and (max-width: 666px) {
							width: 55%;
						}
						@media (min-width: 321px) and (max-width: 479px) {
							width: 75%;
						}
						@media (max-width: 320px) {
							width: 86%;
						}
					}
					.cta-wrapper{
						display: table;
						padding-top: 10px;
						padding-bottom: 10px;
						margin: auto;
						@media (min-width: 736px) and (max-width: @screen-sm-max) {
							padding-top: 27px;
							padding-bottom: 27px;
						}
						@media (max-width: 320px) {
							padding-top: 15px;
							padding-bottom: 15px;
						}
						img {
							vertical-align: middle;
							display: table-cell;
							margin-right: 16px;
							@media (max-width: 320px) {
								margin-right: 10px;
							}
						}
						span {
							vertical-align: middle;
							display: table-cell;
							color: #a8a7a7;
							font-size: 13px;
							text-transform: uppercase;
							@media (min-width: 736px) and (max-width: @screen-sm-max) {
								font-size: 19px;
							}
							@media (max-width: 320px) {
								font-size: 12px;
							}
							&:hover{
								color: @sony-orange;
								transition: color .35s ease;
							}
						}
					}
				}
			}
		}


	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
}
