/* ----- ----- ----- ----- ----- */
/* ##### COLOR ##### */
/* ----- ----- ----- ----- ----- */
@sony-orange: #f15a22;
@light-grey: #bfbfbf;

.bg-black {
	background-color: #000000;
}


/* ----- ----- ----- ----- ----- */
/* ##### FONT ##### */
/* ----- ----- ----- ----- ----- */
.font () {
	font-family: 'SST W20 Roman', Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #ffffff;
}

.thai,
.thai * {
	font-family: 'Noto Serif Thai', sans-serif !important;
}

.viet,
.viet * {
	font-family: 'Noto Sans', sans-serif !important;
}



/* ----- ----- ----- ----- ----- */
/* ##### Width ##### */
/* ----- ----- ----- ----- ----- */
@max-width: 1024px;
.fullWidthAndHeight () {
	width: 100%;
	height: 100%;
}
.no-padding () {
	padding: 0;
}
.maxWidth (@max-width: @max-width) {
	max-width: @max-width;
}

//** Point at which the navbar becomes uncollapsed.
// @grid-float-breakpoint: @screen-sm-max;
@grid-float-breakpoint: @screen-md;


html,
body {
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	// display: none;
	// background-image: url(../img/bg-template.jpg);
	background-position: top center;
	background-size: cover;

	.bg-black ();
	.font ();
}

a {
	transition: color .35s ease;
	text-decoration: none;
	color: #ffffff;
	outline: none;
	&:hover,
	&:focus,
	&.active {
		text-decoration: none;
		color: @sony-orange;
		outline: none;
	}
}
.preload {
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	display: table;
	background-color: #000000;

	.fullWidthAndHeight ();
	.preloader {
		display: table-cell;
		vertical-align: middle;
	}
}

.img-responsive {
	width: auto;
}

.sony-btn {
	font-family: 'SST W20 Light', Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 4px 14px;
	transition: opacity .35s ease;
	color: #ffffff;
	background-color: #f15a22;
	&:hover,
	&:focus {
		opacity: .85;
		color: #ffffff;
	}
}

img {
	border: none;
}



/* ===== ===== ===== ===== ===== */
/* ----- ----- ----- ----- ----- */
/* ##### HEADER :: STARTS ##### */
/* ----- ----- ----- ----- ----- */
/* ===== ===== ===== ===== ===== */
header {
	// overflow-y: hidden;
	// position: fixed;
	// z-index: 1000;
	// top: 0;
	width: 100%;
	height: 61px;
	// background-image: url(../img/bg-header-2.png);
	background-color: #000000;
	background-repeat: repeat-x;
	// display: none;
	// @media (max-width: @screen-sm-max) {
	// 	background-image: url(../img/bg-header-mobile.jpg);
	// }
	.logo {
		position: absolute;
		top: 21px;
		left: 40px;
		display: inline-block;
		@media (max-width: @screen-sm-max) {
			top: 20px;
			left: 20px;
		}
	}
	.language {
		position: absolute;
		top: 14px;
		right: 20px;
		display: inline-block;
		@media (max-width: @screen-sm-max) {
			// top: 20px;
			right: 70px;
		}
		select {
			width: 165px;
			height: 34px;
			padding: 0 40px;
			border: none;
			outline: none;
			background: rgba(255,255,255,.35);
			// background-color: white;
			background-image: url(../img/language.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 90%;

			-webkit-appearance: none;
			   -moz-appearance: none;
			        appearance: none;;
			/*@media (max-width: @screen-xs-max) {
			}*/
			&#language-mobile {
				width: 90px;
				padding-right: 20px;
				background-image: url(../img/language-mobile.png);
				background-size: 80%;
			}
			option {
				color: #000000;
				background-color: #ffffff;
			}
		}
	}
	.navbar-inverse {
		margin-bottom: 0;
		border: none;
		background-color: transparent;
		@media (max-width: @screen-sm-max) {
			padding: 0;
		}
		.navbar-toggle {
			margin-top: 15px;
			border: none;
			background-color: transparent;
			&:hover,
			&:focus {
				border: none;
				background-color: transparent;
			}
		}
		.navbar-collapse {
			&.collapsing,
			&.in {
				// @media (max-width: @screen-sm-max) {
				width: 100%;
				/*margin-right: -15px;
				margin-left: -15px;*/
				padding: 0;
				border: none;
				background-color: #000000;
				a {
					font-size: 1.25em;
					display: block;
					padding-top: 25px;
					img {
						position: relative;
						width: auto;
						// top: -1px;
						// margin-right: 3px;
						// transform: scale(1.2);
						height: .85em;
					}
					&.last {
						padding-bottom: 25px;
					}
				}
			}
		}
		nav {
			font-size: 16px;
			line-height: 17px;
			margin-top: 21px;
			@media (max-width: @screen-sm-max) {
				margin-top: 61px;
			}
			img {
				vertical-align: baseline;
			}
			a {
				margin: 0 30px;
				vertical-align: top;
				@media (max-width: @screen-md-max) {
					margin: 0 20px;
				}
			}
			.feature_pro {
				display: inline-block;
				cursor: default;
				color: #818282;
				span {
					font-size: 11px;
					font-style: italic;
					line-height: 12px;
				}
			}
		}
		.divider {
			position: absolute;
			top: 59px;
			left: 50%;
			height: 2px;
			margin-left: -150.5px;
			img {
				display: block;
				vertical-align: top;
			}
		}
	}
}
.secondary-nav {
	position: relative;
	z-index: 999;
	height: 60px;
	margin-top: 61px;
	// background-color: #1f1f1f;
	// background-image: url(../img/bg-secondary_nav.png);
	background-color: rgba(31, 31, 31, .75);
	background-color: #000000\9; /* For IE */
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto;

	filter: alpha(opacity=75); /* For IE */
	a {
		p {
			font-size: 12px;
			font-weight: bold;
			line-height: 60px;
			display: inline-block;
			text-transform: uppercase;
		}
	}
	span {
		display: inline-block;
		margin: auto 10px;
	}
}
.secondary-nav-mobile {
	position: relative;
	z-index: 999;
	min-height: 44px;
	margin-top: 61px;
	color: @sony-orange;
	// padding-top: 20px;
	// background-color: rgba(51, 51, 51, .80);
	// background-color: #333333\9; /* For IE */
	// background-repeat: no-repeat;
	background-image: url(../img/profile/select-bg.png);
	background-repeat: repeat;
	select {
		font-family: 'SST W20 Bold', Helvetica, Arial, sans-serif;
		// height: 70px;
		// width: 380px;
		font-size: 15px;
		text-align: center;
		text-transform: uppercase;
		border: 0;
		outline: none;
		background-color: transparent;
		background-image: url(../img/profile/arrow_down_org.png);
		background-repeat: no-repeat;
		background-position: center right;
		background-size: 30px;

		-webkit-appearance: none;
		   -moz-appearance: none;
		        appearance: none;
		@media (max-width: @screen-sm-max) {
			font-size: 1em;
			width: 90%;
			height: 40px;
			background-size: 19px;
		}
	}
	.divider {
		position: absolute;
		top: 32px;
		left: 50%;
		height: 2px;
		margin-left: -150.5px;
	}
}
/* ===== ===== ===== ===== ===== */
/* ----- ----- ----- ----- ----- */
/* ##### HEADER :: ENDS ##### */
/* ----- ----- ----- ----- ----- */
/* ===== ===== ===== ===== ===== */



/* ===== ===== ===== ===== ===== */
/* ----- ----- ----- ----- ----- */
/* ##### CONTENT :: STARTS ##### */
/* ----- ----- ----- ----- ----- */
/* ===== ===== ===== ===== ===== */
h1,
h2 {
	font-family: 'SST W20 Light', Helvetica, Arial, sans-serif;
}
.paddingFooter () {
	padding-bottom: 179px;
	@media (max-width: @screen-sm-max) {
		padding-bottom: 70px;
	}
}
.secondaryNavAndBg () {
	margin-top: -121px;
	padding-top: 121px;
	@media (max-width: @screen-sm-max) {
		margin-top: 0;
		padding-top: 0;
	}
}
#content {
	position: relative;
	height: 100%;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: auto;
	@media (max-width: @screen-xs-max) {
		display: table !important;
		table-layout: fixed;
		width: 100%;
	}
}
.photo () {
	p {
		color: #ffffff;
		&.title {
			font-size: 22px;
			color: @sony-orange !important;
		}
		&.nobottomspacing {
			margin: 0;
		}
		&.photographer-name {
			font-size: 14px;
			color: @sony-orange !important;
		}
		&.description {
			font-size: 16px;
			color: #ffffff;
		}
	}
	.pull-left {
		margin-top: 25px;
		@media (max-width: @screen-xs-max) {
			float: none !important;
			clear: both;
		}
		> * {
			// display: inline-block;
			// padding-top: 15px;
			/*@media (max-width: @screen-xs-max) {
				padding-top: 0;
			}*/
		}
		p {
			&.name {
				font-size: 24px;
				margin-bottom: 0;
				@media (max-width: @screen-sm-max) {
					display: inherit;
				}
			}
			&.country {
				font-size: 14px;
			}
		}
		img {
			display: inline;
		}
		.logo {
			padding-right: 15px;
		}
		.lens {
			padding-right: 10px;
			padding-left: 5px;
			@media (max-width: @screen-xs-max) {
				padding-bottom: 10px;
			}
		}
		.placeholder {
			display: inline-block;
			height: 50px;
			vertical-align: middle;
		}
		> p {
			@media (max-width: @screen-xs-max) {
				display: inline;
			}
		}
	}
	.pull-right {
		margin-top: 25px;
		@media (max-width: @screen-xs-max) {
			margin-top: 15px;
		}
		.logo {
			margin-bottom: 5px;
			img {
				max-height: 16px;
			}
		}
		img {
			display: inline;
		}
		a {
			display: block;
			transition: opacity .35s ease;
			opacity: .65;
			color: @sony-orange;

			filter: alpha(opacity=65); /* IE8 and lower */
			span {
				font-size: 2em;
				line-height: 0;
				position: relative;
				top: 3px;
				margin-left: 10px;
			}
			&:hover {
				opacity: 1;

				filter: alpha(opacity=100); /* IE8 and lower */
			}
		}
	}
	.sg-kol {
		.pull-left {
			margin-top: 0;
			@media (max-width: @screen-xs-max) {
				float: none !important;
				clear: both;
			}
			> * {
				display: inline-block;
				padding-top: 15px;
				/*@media (max-width: @screen-xs-max) {
				padding-top: 0;
			}*/
			}
			img {
				display: inline;
			}
			.logo {
				padding-right: 15px;
				img {
					max-height: 16px;
				}
			}
			.lens {
				padding-right: 10px;
				padding-left: 5px;
				@media (max-width: @screen-xs-max) {
					padding-bottom: 10px;
				}
				img {
					max-height: 50px;
				}
			}
			.placeholder {
				display: inline-block;
				height: 50px;
				vertical-align: middle;
			}
			> p {
				@media (max-width: @screen-xs-max) {
					display: inline;
				}
			}
		}
		.pull-right {
			margin-top: 25px;
			@media (max-width: @screen-xs-max) {
				margin-top: 15px;
			}
			img {
				display: inline;
			}
			a {
				display: block;
				transition: opacity .35s ease;
				opacity: .65;
				color: @sony-orange;

				filter: alpha(opacity=65); /* IE8 and lower */
				span {
					font-size: 2em;
					line-height: 0;
					position: relative;
					top: 3px;
					margin-left: 10px;
				}
				&:hover {
					opacity: 1;

					filter: alpha(opacity=100); /* IE8 and lower */
				}
			}
		}
	}
	.fb-like {
		margin-top: 10px;
		margin-bottom: 25px;
	}
}
/* ===== ===== ===== ===== ===== */
/* ----- ----- ----- ----- ----- */
/* ##### CONTENT :: ENDS ##### */
/* ----- ----- ----- ----- ----- */
/* ===== ===== ===== ===== ===== */



/* ===== ===== ===== ===== ===== */
/* ----- ----- ----- ----- ----- */
/* ##### FOOTER :: STARTS ##### */
/* ----- ----- ----- ----- ----- */
/* ===== ===== ===== ===== ===== */
footer {
	position: fixed;
	z-index: 1000;
	bottom: 0;
	width: 100%;
	height: 179px;
	background-image: url(../img/bg-footer.png);
	@media (max-width: @screen-sm-max) {
		height: 60px;
		background-color: #000000;
		background-image: none;
	}
	// display: none;
	.divider {
		/*position: absolute;
		top: -2px;
		left: 50%;
		height: 2px;
		margin-left: -150.5px;*/
		position: relative;
		top: -1px;
		margin-bottom: -1px;
		img {
			display: block;
			vertical-align: top;
		}
	}
	.pull-left {
		font-family: 'SST W20 Italic', Helvetica, Arial, sans-serif;
		font-size: 26px;
		position: relative;
		top: 110px;
		left: 40px;
		color: @sony-orange;
		@media (max-width: @screen-sm-max) {
			top: 10px;
			left: 5px;
		}
		@media (max-width: @screen-xs-max) {
			width: 55%;
			// height: auto;
		}
		.logo,
		p {
			display: inline-block;
		}
		.logo {
			img {
				@media (max-width: @screen-xs-max) {
					width: 100%;
					height: auto;
				}
			}
		}
		p {
			position: relative;
			top: 5px;
			left: 10px;
		}
	}
	.pull-right {
		position: relative;
		top: 120px;
		margin-right: 30px;
		@media (max-width: @screen-sm-max) {
			top: 17px;
			margin-right: 0;
		}
		@media (max-width: @screen-xs-max) {
			top: 25px;
		}
		img {
			@media (max-width: @screen-sm-max) {
				width: auto;
				height: 70px;
			}
		}
		p {
			font-family: 'SST W20 Medium', Helvetica, Arial, sans-serif;
			font-size: 14px;
			line-height: 17px;
			text-align: right;
			text-transform: uppercase;
			color: #999999;
			@media (max-width: @screen-xs-max) {
				font-size: .55em;
				line-height: 1.3em;
			}
		}
	}
}
/* ===== ===== ===== ===== ===== */
/* ----- ----- ----- ----- ----- */
/* ##### FOOTER :: ENDS ##### */
/* ----- ----- ----- ----- ----- */
/* ===== ===== ===== ===== ===== */
